# used by express web server framework,
# possible values: development or ...
NODE_ENV=development

# the port api server will run
# PORT=3000

# mongodb database uri
DB_URI=mongodb://localhost/notebook

# base url of web app
WEB_URL=http://localhost:3001

# mail
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PWD=
MAIL_DOMAIN=notebook.com
